page-place {
    .star{
        color:#ecb943;
        font-size: xx-large !important;
    }
    .button-star{
        width:calc(100% / 5);
        background-color: transparent;
        border: 0px solid transparent;
        border-radius: 60px;
        width: 34px !important;
        height: 34px;
    }
    #classification{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        font-size: 3.5em;
        text-align:center;
    }
}
