<!--
  Generated template for the PlacePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title *ngIf="ponto">{{ponto.nome}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content full *ngIf="ponto">

  <div id="ponto-img">
    <ion-note>{{ponto.data_registro}}</ion-note>
    <img [src]="ponto.imagem"/>
  </div>

  <ion-row>
    <ion-col>
      <h2>{{ponto.nome}}</h2>
      <p>{{ponto.endereco}}</p>
    </ion-col>
  </ion-row>

  <ion-row center>
    <ion-col>
      <div id="classification">
        <ng-container *ngIf="!ponto.class">
          <p center color="primary">Nenhuma classificação ainda</p>
        </ng-container>
        <button class="button-star" *ngFor="let c of ponto.class" full>
          <ion-icon class="star" [name]="c.icon"></ion-icon>
        </button>
      </div>
    </ion-col>
  </ion-row>

  <ion-row center text-center>
    <ion-col>
      <ion-note>
        {{ponto.totalClass}} classificações
      </ion-note>
    </ion-col>
  </ion-row>
    
  <ion-row center text-center id="ponto-opcoes">
    <ion-col>
      <button color="primary" icon-end ion-button round [disabled]="ponto.classificou" (click)="classificarPonto(ponto.id)">
        Classificar
        <ion-icon name="star"></ion-icon>
      </button>
    </ion-col>
    <ion-col>
      <button color="primary" icon-end ion-button round (click)="linhas(ponto.id)">
        Linhas
        <ion-icon name="bus"></ion-icon>
      </button>
    </ion-col>
  </ion-row>

  <ion-list>
    <ng-container *ngIf="!ponto.comentarios">
      <ion-item color="primary" center text-center>
        <h2>Nenhum comentário ainda</h2>
      </ion-item>
    </ng-container>

    <ion-item *ngFor="let c of ponto.comentarios" (click)="visualizarPerfil(c.usuario_id)">
      <ion-avatar *ngIf="c.usuario_foto" item-start>
        <img [src]="c.usuario_foto">
      </ion-avatar>
      <h2>
        {{c.usuario_nome}}
      </h2>
      
      <p text-wrap>
        {{c.comentario}}
        <ion-note>{{c.data_registro}}</ion-note>
      </p>
      
    </ion-item>
  </ion-list>

</ion-content>
