page-place {
    .star{
        color:#ecb943;
        font-size: xx-large !important;
    }
    .button-star{
        width:calc(100% / 5);
        background-color: transparent;
        border: 0px solid transparent;
        border-radius: 60px;
        width: 34px !important;
        height: 34px;
    }
    #classification{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        font-size: 1.4em;
        text-align:center;
        padding-left: 15%;
        padding-right: 15%;
    }
    #ponto-img > img{
        width:100%;
        display: block;
    }
    #ponto-img > ion-note{
        position: absolute;
        background-color: color($colors, light);
        color: color($colors, primary);
        right: 0px;
        font-size: 0.8em;
        padding: 2px;
    }
    #ponto-opcoes button icon{
        padding-left:10px;
    }
    #ponto-opcoes button{
        width: 98%;
    }
    p > ion-note{
        font-size: 0.8em;
        float: right;
    }
}
