<ion-tabs #content class="tabs-custom tabs-icon-bottom">
        <ion-tab *ngFor="let tab of tabs" [root]="tab.root" [tabTitle]="tab.title" 
        [tabIcon]="tab.icon"></ion-tab>
    <!--
    <ion-tab [root]="tabPage1" tabTitle="Menu" tabIcon="menu"></ion-tab>
    <ion-tab [root]="tabPage2" tabTitle="Map" tabIcon="map"></ion-tab>
    <ion-tab [root]="tabPage3" tabTitle="Chat" tabIcon="chatbubbles"></ion-tab>
    -->
</ion-tabs>

<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
        <ion-title>{{name}}</ion-title>
        <ion-buttons right>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content padding>
    <ion-list>
        <button *ngFor="let p of pages" menuClose ion-item (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
        </button>

        <button menuClose ion-item (click)="logout()">
            <ion-icon item-left name="log-out"></ion-icon>
            Sair
        </button>
    </ion-list>
    </ion-content>

</ion-menu>