<!--
  Generated template for the AmigosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title [hidden]="mostrarBuscar">Contatos</ion-title>
    <ion-title>
      <ion-searchbar #searchbar [(ngModel)]="inputBuscar" 
      placeholder="Buscar por um perfil" (ionInput)="buscar($event)" 
      [hidden]="!mostrarBuscar"></ion-searchbar>
    </ion-title>
    <ion-buttons right>
      <button ion-button (click)="toggleBusca()">
        <ion-icon name="search" [hidden]="mostrarBuscar"></ion-icon>
        <ion-icon name="close" [hidden]="!mostrarBuscar"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-segment [(ngModel)]="contatos" class="segment-primary" [hidden]="mostrarBuscar">
    <ion-segment-button value="a">
      Amigos
    </ion-segment-button>
    <ion-segment-button value="p">
      Pendentes
      <ion-badge *ngIf="amigos && amigos.pendentes_total > 0" color="light" item-end>{{amigos.pendentes_total}}</ion-badge>
    </ion-segment-button>
  </ion-segment>
</ion-header>


<ion-content>
  <div id="lista-buscar" [hidden]="!mostrarBuscar">
    <ion-list *ngIf="perfis" no-lines>
      <ion-spinner [hidden]="!buscando" center text-center></ion-spinner>
      <p *ngIf="perfis.length === 0" center text-center>Nenhum perfil encontrado</p>
      <ion-item *ngFor="let p of perfis" (click)="visualizarPerfil(p.id);">
        <ion-avatar class="usuario-foto" item-start left>
          <img [src]="p.foto" item-left>
        </ion-avatar>
        <h2>{{p.nome}}</h2>
      </ion-item>
    </ion-list>
  </div>
  <p *ngIf="!amigos" center text-center>Nenhuma amizade ainda</p>
  
  <div [hidden]="mostrarBuscar">
    <ng-container [ngSwitch]="contatos" *ngIf="amigos">
      <ion-list *ngSwitchCase="'a'" no-lines>
        <p *ngIf="!amigos.aceitos" center text-center>Nenhum amigo adicionado</p>
        <ion-item *ngFor="let a of amigos.aceitos" (click)="visualizarPerfil(a.amigo_id);">
          <ion-avatar class="usuario-foto" item-start left>
            <img [src]="a.amigo_foto" item-left>
          </ion-avatar>
          <h2>{{a.amigo_nome}}</h2>
          <button color="primary" ion-button outline item-end (click)="conversar(a.amigo_id);$event.stopPropagation();">
            Conversar
          </button>
        </ion-item>
      </ion-list>
    
      <ion-list *ngSwitchCase="'p'" no-lines>
        <p *ngIf="!amigos.pendentes" center text-center>Nenhuma amizade pendente</p>
        <ion-item *ngFor="let p of amigos.pendentes" (click)="visualizarPerfil(p.amigo_id);">
          <ion-avatar class="usuario-foto" item-start left>
            <img [src]="p.amigo_foto" item-left>
          </ion-avatar>
          <h2>{{p.amigo_nome}}</h2>
          <button color="primary" ion-button outline item-end (click)="recusarAmizade(p.amigo_id);$event.stopPropagation();">
            Recusar
          </button>
          <button color="primary" ion-button item-end (click)="aceitarAmizade(p.amigo_id);$event.stopPropagation();">
            Aceitar
          </button>
        </ion-item>
      </ion-list>
    </ng-container>
  </div>
</ion-content>
