<!--
  Generated template for the NovoPontoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      Criar ponto
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ng-container *ngIf="endereco">
    
    <ion-row>
      <ion-col>
        <ion-label color="primary">Estado</ion-label>
        <ion-input disabled [(ngModel)]="endereco.estado"></ion-input>
      </ion-col>
      <ion-col>
        <ion-label color="primary">Cidade</ion-label>
        <ion-input disabled [(ngModel)]="endereco.cidade"></ion-input>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col col-8>
        <ion-label color="primary">Bairro</ion-label>
        <ion-input disabled [(ngModel)]="endereco.bairro"></ion-input>
      </ion-col>
      <ion-col col-4>
        <ion-label color="primary">CEP</ion-label>
        <ion-input disabled [(ngModel)]="endereco.cep"></ion-input>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col col-8>
        <ion-label color="primary">Rua</ion-label>
        <ion-input disabled [(ngModel)]="endereco.rua"></ion-input>
      </ion-col>
      <ion-col col-4>
        <ion-label color="primary">Número</ion-label>
        <ion-input disabled [(ngModel)]="endereco.numero"></ion-input>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <ion-label color="primary">Nome do ponto</ion-label>
        <ion-input [(ngModel)]="endereco.nome" placeholder="Nomeie o ponto aqui"></ion-input>
      </ion-col>
    </ion-row>
    
    <ion-row *ngIf="linhas">
      <ion-col>
        <ion-label color="primary">Linhas recomendadas para este ponto</ion-label>
        <ion-input *ngIf="linhas.length === 0" disabled value="Nenhuma linha encontrada neste itinerário"></ion-input>
        <ion-select [(ngModel)]="selecionados" multiple="true">
          <ion-option *ngFor="let l of linhas; let i = index" [value]="l.id" selected>{{l.numero}} - {{l.nome}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <button ion-button round full color="primary" (click)="adicionarPonto()">Criar ponto</button>
    
  </ng-container>
</ion-content>