page-chat {
    #enviarMensagem{
        width: 40px;
        height: 40px;
        padding: 0px !important;
    }
    .chat-header > ion-avatar{
        float:left;
        width: 48px !important;
        height: 48px !important;
    }
    .chat-header > ion-title{
        float:left;
        line-height: 48px;
    }
    .chat-header > ion-title > div{
        font-size: 1.7rem !important;
    }
    .mensagem-amigo, .mensagem-eu{
        max-width: 80%;
        padding: 0.5em;
        border: 0px solid transparent;
        border-radius: 6px;
        min-width: 30%;
    }
    .mensagem-amigo-pe:before {
        border-radius: 0px;
        content: '';
        display: block;
        position: absolute;
        border: 8px solid transparent;
        border-bottom-color: color($colors, chatLight);
        margin-top: 2px;
        left:0px;
        transform: rotateZ(-90deg);
    }
    .mensagem-eu-pe:before {
        border-radius: 0px;
        content: '';
        display: block;
        position: absolute;
        border: 8px solid transparent;
        border-bottom-color: color($colors, chatPrimaryLight);
        margin-top: 2px;
        right:0px;
        transform: rotateZ(90deg);
    }
    .mensagem-amigo{
        float:left;
        text-align:left;
        background-color:color($colors, chatLight);
    }
    .mensagem-eu{
        float:right;
        text-align:left;
        background-color:color($colors, chatPrimaryLight);
    }
    .mensagem-amigo-corpo > p, .mensagem-eu-corpo > p{
        color:color($colors, dark) !important;
    }
    .mensagem-amigo-pe, .mensagem-eu-pe{
        text-align: right;
    }
    .mensagem-amigo-pe, .mensagem-eu-pe, .mensagem-amigo-pe > ion-note, .mensagem-eu-pe > ion-note{
        font-size: 0.8em;
        color:color($colors, dark) !important;
    }
    .input-wrapper > .label{
        margin-bottom:0px;
        margin-top:8px;
    }
    .mensagem-data{
        padding: 0.5em;
        margin-bottom:8px;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
    }
    .mensagem-data > p{
        margin:0px;
        color:color($colors, light) !important;
        background-color:color($colors, primary) !important;
        border: 4px solid transparent;
        border-bottom-color: color($colors, primary);
        border-radius: 6px;
        font-size: 0.7em;
    }
    #input {
        width: 100%;
        border: 0;
        border-radius: 0;
        background: transparent;
        resize: none;
    }
}
