<!--
  Generated template for the PlacesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
      <ion-buttons left>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
    <ion-title>Pontos</ion-title>
    <ion-buttons right>
      <button ion-button (click)="toggleBusca()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="ionViewWillEnter($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar #searchbar [(ngModel)]="inputBuscar" placeholder="Buscar um ponto" (ionInput)="buscar($event)" [hidden]="!mostrarBuscar"></ion-searchbar>

  <div id="pontos-opcoes">
    <button icon-end ion-button round (click)="carregaPontos()">
        Todos
      <ion-icon name="bus"></ion-icon>
    </button>
    <button icon-end ion-button round (click)="carregaMeusPontos()">
        Meus favoritos
      <ion-icon name="heart"></ion-icon>
    </button>
  </div>
  
  <ion-title *ngIf="!this.pontos">Nenhum ponto encontrado</ion-title>

  <ion-card *ngFor="let p of pontos" (click)="visualizaPonto(p.id, p.nome);" [id]="p.id" >
    <ion-fab right>
      <button primary color="primary" ion-fab (click)="favoritarPonto(p.id);$event.stopPropagation();">
        <ion-icon [name]="p.favorito"></ion-icon>
      </button>
    </ion-fab>
    <img [src]="p.imagem" class="p-imagem" />

    <ion-card-content>
      <ion-card-title>
        {{p.nome}}
      </ion-card-title>
      <p>
        {{p.endereco}}
      </p>
      <div id="classification">
        <p center color="primary" *ngIf="!p.class">Nenhuma classificação ainda</p>
        <button class="button-star" *ngFor="let c of p.class" full>
          <ion-icon class="star" [name]="c.icon"></ion-icon>
        </button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
