page-profile {
    ion-button{
        width:100%;
    }
    ion-card{
        margin: 0px !important;
        border-radius: 0px !important;
        width: 100% !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
    ion-input{
        margin: 0px 0px !important;
    }
    #foto{
        width: 200px;
        height: 200px;
        margin: auto;
        margin-top: 5%;
        border: 0px solid transparent;
        border-radius: 100%;
        overflow: hidden;
        position: relative;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
    }
    #foto > img{
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width:100%;
    }
    #escolherUpload{
        margin-top: 5%;
        margin-right: 15%;
        right: 0px;
    }
    .editar-perfil{
        display: flex;
        align-items: flex-end;
        position: absolute;
        margin: 18px;
        right: 0px;
        font-size: 20px;
        min-width: 0 !important;
        text-align: left !important;
    }
}
