<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Perfil</ion-title>
    <ion-buttons right *ngIf="usuario">
      <button ion-button (click)="editar()" *ngIf="usuario.id != userLogged">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content full center text-center>
  <ng-container *ngIf="usuario">
    <ion-card>
      <div id="foto">
        <img [src]="usuario.foto"/>
      </div>
      <ion-fab id="escolherUpload" top [hidden]="!editando">
        <button ion-fab color="primary" (click)="escolherUpload()">
          <ion-icon name="create"></ion-icon>
        </button>
      </ion-fab>

      <ion-card-content [hidden]="editando">
        <ion-card-title>
          {{usuario.nome}}
        </ion-card-title>
        <p *ngIf="usuario.id == userLogged">
          {{usuario.email}}
        </p>
        
        <ion-row *ngIf="usuario.id != userLogged">
          <ion-col>
            <button ion-button full round color="primary" item-right (click)="adicionarAmigo(usuario.id)">
              Solicitar amizade
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
  
      </ion-card-content>

      <ion-card-content [hidden]="!editando">
        <ion-card-title>
          <ion-input type="text" [(ngModel)]="usuario.nome"></ion-input>
          <button ion-button clear color="primary" item-right>
            <ion-icon name="create"></ion-icon>
          </button>
        </ion-card-title>
        <p>
          <ion-input type="text" [(ngModel)]="usuario.email"></ion-input>
          <button ion-button clear color="primary" item-right>
            <ion-icon name="create"></ion-icon>
          </button>
        </p>
      </ion-card-content>

      <ion-row>
        <ion-col>
          <ion-note>{{usuario.register_date}}</ion-note>
        </ion-col>
      </ion-row>

    </ion-card>
  </ng-container>
</ion-content>

<ion-footer padding bottom center [hidden]="!editando">
  <button ion-button full round color="primary" id="confirmarEdicao" (click)="confirmarEdicao(usuario.id)">
    Salvar alterações
  </button>
</ion-footer>