<!--
  Generated template for the ClassificarPontoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Classificar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row class="metodo" *ngFor="let c of classificacoes" radio-group [(ngModel)]="valoresClassificacao[c.id]">
    <ion-col>
      <h5>{{c.metodo}}</h5>
      <p *ngIf="c.pergunta">{{c.pergunta}}</p>
      <p *ngIf="c.descricao">{{c.descricao}}</p>
      <div class="classificacao">
        <div class="opcao" *ngFor="let n of classificacaoNivel">
          <ion-note [color]="n.cor">{{n.nome}}</ion-note>
          <br>
          <ion-radio [color]="n.cor" [value]="n.valor" [checked]="n.valorInicial"></ion-radio>
        </div>
      </div>
    </ion-col>
  </ion-row>
  
  <ion-row class="metodo">
    <ion-col>
      <h5>Deseja adicionar um comentário?</h5>
      <p>Diga-nos o porquê da sua classificação.</p>
      <ion-textarea placeholder="Escreva algo..." [(ngModel)]="valoresClassificacao[0]"></ion-textarea>
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer padding bottom center>
  <button ion-button full round (click)="classificar()">
    Enviar classificação
  </button>
</ion-footer>
