page-classificar-ponto {
    .classificacao{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        text-align:center;
    }
    .classificacao > div{
        width:20%;
        text-align:center;
    }
    .radio-md .radio-icon {
        width: 27px;
        height: 27px;
    }
    .radio-md .radio-inner {
        width: 19px;
        height: 19px;
    }
    .metodo{
        margin-bottom:15px;
    }
    .classificacao-nome{
        width:100%;
        height:50%;
        white-space: nowrap;
    }
    .classificacao-radio{
        width:100%;
        height:50%;
        
    }
}
