page-home {
    .list-ios > .item-block:first-child, .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: none;
        border-top: none;
    }
    ion-header{
        text-align:center;
        //background:url('../../assets/imgs/logo-header.png');
        //background-repeat: no-repeat;
        //background-position: center;
        //background-size: cover;
    }
    ion-navbar{
        padding:0px !important;
        margin:0px;
    }
    img{
        width:100%;
    }
    
    #social-login{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        font-size: 3.5em;
    }
    //left
    .button-fb{
        width:30%;
        height: 65px;
    }
    .button-tt{
        width:30%;
        height: 65px;
    }
    .button-gp{
        width:30%;
        height: 65px;
    }
    .sub-title > .toolbar-title {
        font-size: 2rem;
    }
    .button-fb ion-icon, .button-gp ion-icon, .button-tt ion-icon{
        font-size: 3.5em;
    }
    
}
