page-home {
    .list-ios > .item-block:first-child, .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: none;
        border-top: none;
    }
    ion-header{
        text-align:center;
        //background:url('../../assets/imgs/logo-header.png');
        //background-repeat: no-repeat;
        //background-position: center;
        //background-size: cover;
    }
    img{
        display: initial;
        border-radius: 50%;
        overflow: hidden;
        width: 65px;
        height: 65px;
    }
    ion-navbar{
        padding:0px !important;
        margin:0px;
    }
    #social-login{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-left:10%;
        padding-right:10%;
        margin-top:16px;
    }
    .sub-title > .toolbar-title {
        font-size: 2rem;
    }
    .button-fb ion-icon, .button-gp ion-icon, .button-tt ion-icon{
        font-size: 2.5em;
    }
    
}
