page-map {
    #map {
        height: 100%;
        width:100%;
    }
    #search-button{
        position: fixed;
        top: 10vh;
        margin-left: auto;
        margin-right: auto;
        left: 0px;
        right: 0px;
        z-index: 999999999;
        width: 80%;
    }
}
