<!--
  Generated template for the MapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.

   (ionInput)="updateSearchResults()"
      <input [(ngModel)]="endereco" #searchbar id="searchbar" type="text" placeholder="Buscar por itinetário" [hidden]="!mostrarBuscar" class="searchbar-input">
-->
<ion-header>

  <ion-navbar color="primary">
      <ion-buttons left [hidden]="mostrarBuscar">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
    <ion-title>
      <ion-searchbar [(ngModel)]="endereco" #searchbar id="searchbar" type="text" placeholder="Buscar por itinetário" [hidden]="!mostrarBuscar"></ion-searchbar>
    </ion-title>
    <ion-buttons right>
      <button ion-button (click)="toggleBusca()">
        <ion-icon name="search" [hidden]="mostrarBuscar"></ion-icon>
        <ion-icon name="close" [hidden]="!mostrarBuscar"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-fab bottom right [hidden]="adicionar">
    <button ion-fab [color]="adicionarClass" (click)="toggleCriar()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <div id="divAdicionar" [hidden]="!adicionar">
    <button ion-button round bottom center color="lightPrimary" id="cancelarPonto" (click)="toggleCriar()">
      <ion-icon name="close"></ion-icon>
    </button>
    <button ion-button round full bottom center color="primary" id="criarPonto" (click)="criarPonto()">
      Criar um ponto aqui
    </button>
  </div>

  <ion-fab bottom left [hidden]="adicionar">
    <button ion-fab color="primary" (click)="centralizar()">
      <ion-icon name="locate"></ion-icon>
    </button>
  </ion-fab>
  
  <div id="div">
    <ng-container *ngIf="infoPonto">
      <ion-card id="info" [hidden]="!mostrarInfo">
        <ion-fab right top small mini color="primary" (click)="esconderInformacoes()">
          <button ion-fab small mini>
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-fab>

        <ion-item>
          <ion-avatar item-start *ngIf="infoPonto.imagem">
            <img [src]="infoPonto.imagem">
          </ion-avatar>
          <h2>{{infoPonto.nome}}</h2>
        </ion-item>
      
        <ion-card-content>
          <p>Botar linhas aqui</p>
        </ion-card-content>
      
        <ion-row>
          <ion-col>
            <button ion-button icon-start clear small color="primary" (click)="mostrarRota(infoPonto.id, infoPonto.nome)">
              <ion-icon name="pin"></ion-icon>
              <div>Rotas</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-start clear small color="primary" (click)="irPonto(infoPonto.id, infoPonto.nome)">
              <ion-icon name="pin"></ion-icon>
              <div>Visualizar ponto</div>
            </button>
          </ion-col>
        </ion-row>
      
      </ion-card>
    </ng-container>
    
    <ion-fab top left>
      <button ion-fab><ion-icon name="arrow-dropright"></ion-icon></button>
      <ion-fab-list side="right">
        <div id="linhas">
          <ion-avatar mini>
            <img src="http://tcc.pelainternetsistemas.com.br/app/images/marker-google.png">
          </ion-avatar>
          <ion-avatar mini>
            <img src="http://tcc.pelainternetsistemas.com.br/app/images/marker-google.png">
          </ion-avatar>
          <ion-avatar mini>
            <img src="http://tcc.pelainternetsistemas.com.br/app/images/marker-google.png">
          </ion-avatar>
          <ion-avatar mini>
            <img src="http://tcc.pelainternetsistemas.com.br/app/images/marker-google.png">
          </ion-avatar>
          <ion-avatar mini>
            <img src="http://tcc.pelainternetsistemas.com.br/app/images/marker-google.png">
          </ion-avatar>
        </div>
      </ion-fab-list>
    </ion-fab>

    <div #map id="map"></div>
    <div id="addPonto" [hidden]="!adicionar">
      <img src="http://tcc.pelainternetsistemas.com.br/app/images/marker-google.png">
    </div>
  </div>
</ion-content>
