<!--
  Generated template for the LinhasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      <ion-searchbar #searchbar [(ngModel)]="inputBuscar" 
      placeholder="Buscar uma linha" (ionInput)="buscar($event)" ></ion-searchbar>
    </ion-title>
<!--
    <ion-buttons right>
      <button ion-button (click)="toggleBusca()">
        <ion-icon name="search" [hidden]="mostrarBuscar"></ion-icon>
        <ion-icon name="close" [hidden]="!mostrarBuscar"></ion-icon>
      </button>
    </ion-buttons>-->
    <ion-buttons right>
      <button ion-button [hidden]="editar" (click)="toggleEditar()">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button [hidden]="!editar" (click)="salvarLinhas();toggleEditar()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ng-container *ngIf="!linhas" center>
    <p *ngIf="!linhas" center text-center>Nenhuma linha presente</p>
  </ng-container>

  <ng-container *ngIf="linhas">
    <ion-list>
      <ion-item *ngFor="let l of linhas; let i = index">
        <ion-label>{{l.numero}} - {{l.nome}}
<!--
          <ng-container *ngIf="l.itinerarios">
            <div class="itinerarios">
              <span *ngFor="let i of l.itinerarios; let last = last" (click)="buscarItinerario(i.itinerario);">
                {{last ? i.itinerario : i.itinerario+' - '}}
              </span>
            </div>
          </ng-container>-->

        </ion-label>
        <ion-checkbox [hidden]="!editar" [checked]="l.selecionado" [(ngModel)]="l.selecionado"></ion-checkbox>
        <button ion-button outline item-end icon-only color="primary" (click)="itinerarios(i)">
          <ion-icon name="information-circle"></ion-icon>
        </button>
        <button ion-button outline item-end icon-only color="primary" (click)="horarios(l.id, l.nome)">
          <ion-icon name="time"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>