page-linhas {
    #itinetarios{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        font-size: 1em;
        text-align:center;
    }
    #itinetarios > p{
        width:33%;
    }
}
