page-linhas {
    .itinerarios{
        text-align: justify;
        white-space: initial;
    }
    .itinerarios > span{
        margin: 0 0 2px;
        overflow: inherit;
        font-size: 1.4rem;
        line-height: normal;
        text-overflow: inherit;
        color: #666;
    }
    h2{
        text-align: center;
    }
    ion-checkbox{
        margin-right: 9px !important;
    }
}
