// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.scroll-content {
    bottom: 0px !important;
    padding-bottom: 0px !important;
}
ion-avatar{
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    border-radius: 100% !important;
    overflow: hidden;
    position: relative;
}
ion-avatar > img{
    position: absolute;
    margin: auto !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width:100% !important;
    height:initial !important;
    border-radius: 0px !important;
}
ion-header ion-icon {
    font-size: 1.5em !important;
}
ion-header ion-title > div {
    font-size: 1.3em !important;
}
.ponto-img{
    width: 100%;
    height: 180px;
    overflow: hidden;
    position: relative;
}
.ponto-img > img{
    position: absolute;
    margin: auto !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width:100% !important;
}

.segment-primary{
    background-color:color($colors, primary) !important;
    color:color($colors, branco) !important;
    opacity: inherit !important;
}

.segment-primary > ion-segment-button{
    background-color:color($colors, primary) !important;
    color:color($colors, branco) !important;
    opacity: inherit !important;
    border-bottom: 0px !important;
}
.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated{
    border-bottom-color:color($colors, branco) !important;
    background-color: color($colors, branco) !important;
    color: color($colors, primary) !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.segment-md .segment-button ion-icon {
    font-size: 1.5rem;
    margin-right:10px;
}

.searchbar-input{
    font-size: 1.4rem !important;
    padding: 0px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.searchbar-search-icon{
    left: 5px !important;
    top: 5px !important;
}

ion-footer {
    background-color: color($colors, branco);
}

ion-input{
    //border:1px solid color($colors, light) !important;
}

ion-avatar{
    border:0px solid #c5c5c5 !important;
    box-shadow: 0px 0px 0px 1px #dadada;
    background-color:color($colors, branco);
}
ion-header{
    background-color: color($colors, primary);
}
.input-cover {
    position: static;
}
ion-select{
    max-width:initial !important;
}
.menu-header{
    background-color:transparent !important;
}
.menu-header > div{
    border-bottom: 0px solid #dedede !important;
}