page-horarios {
    .partida{
        height: 38px;
    }
    .horario{
        font-size: 1.2rem;
    }
    .col{
        padding: 2px !important;
    }
    .borda{
        border-right:1px solid #c5c5c5;
    }
}
